

<div>
<%= form_with model: @profile do |form| %>
    <div class="input-group" style="margin:10%;margin-left:35%;width:30%;">
        <%= form.email_field :email,{:class=>"form-control"}%>
        <div style="background-color: #82e0aa ; padding-left:105px; border-radius:10px;margin:0px 0px 4px 0px;" >
            <%= form.label :email%>
        </div>
        <%= form.password_field :password,{:class=>"form-control"}%>
        <div style="background-color: #82e0aa ; padding-left:105px; border-radius:10px;margin:0px 0px 4px 0px;" >
            <%= form.label :password%>
        </div>
        <%= form.submit "LOG IN"%>
    </div>
<%end%>
</div>